.book {
    padding: 102px 0;
    position: relative;
    .data {
        p {

            font-size: 1.8rem;
            @media screen and (max-width:766px) {
                font-size: 1.2rem;
            }
        }
    }
}