.bar {
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    background-color: white;
}

main {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

footer {
    background: $darkblue;
    color: white;
    padding: 8px;
    font-family: 'Montserrat';
    position: relative;
    z-index: 9;
    .logox {
        width: 80px;
        height: auto;
        margin: 0 auto 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

section {
    position: relative;
    padding: 32px 0;
    background: $darkblue;
    color: white;
    min-height: 100vh;
}

.bottom-copy {
    color: white;
    position: absolute;
    left: 11%;
    bottom: 15vh;
}

.btn-primer {
    background: white;
    margin: 24px 0;
    border-radius: 16px;
    &:hover {
        background: #d8ba72;
    }
    a {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        &:hover {
            text-decoration: none;
            // background: #d8ba72;
        }
    }
}

.titlex {
    color: #d8ba72;
    font-weight: 700;
    font-size: 2.7rem;
}

.slick {
    &-slide {
        margin: 0 16px;
    }
    &-list {
        margin: 0 -16px;
    }
    &-next,
    &-prev {
        // border: 2px solid rgba(255, 255, 255, 0.5);
        width: 42px;
        // background: rgba(#d8ba72, .6);
        backdrop-filter: blur(2px);
        height: 42px;
        border-radius: 50%;
        @media screen and (max-width:766px) {
            top: 90%;
        }
        &:hover,
        &:focus,
        &:active {
            background: rgba(#d8ba72, .2);
        }
        &::before {
            font-family: "FontAwesome";
            z-index: 99;
            // color: rgba($color: #000000, $alpha: 0.8);
            color: white;
        }
    }
    &-next {
        right: -16px;
        // left: 0;
        // left: -15%;
        z-index: 9;
        // transform: translate(-100%, 0%);
        &::before {
            content: "\f054";
        }
    }
    &-prev {
        // left: -20%;
        left: -16px;
        z-index: 9;
        // transform: translate(-100%, 0%);
        @media screen and (max-width:766px) {
            left: 80%;
        }
        &::before {
            content: "\f053";
        }
    }
    &-dots {
        li {
            button {
                &::before {
                    // color: #fff;
                    font-size: 39px;
                    content: "";
                    width: 20px;
                    height: 3px;
                    // background-color: #fff;
                }
            }
        }
    }
}

.totop {
    position: relative;
    z-index: 34;
}