.target {
    // background: #02072F;
    // background-image: url("../img/target.jpg");
    // /* Set a specific height */
    // min-height: 500px;
    // /* Create the parallax scrolling effect */
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    // position: relative;
    // filter: grayscale(100);
    position: relative;
    .carda {
        margin-bottom: 16px;
        @media screen and (max-width: 766px) {
            margin-bottom: 32px;
        }
    }
    .img {
        position: fixed;
        z-index: 1;
        inset: 0;
        width: 100%;
        height: 100vh;
        // color: red;
        &::before {
            content: "";
            inset: 0;
            position: absolute;
            // -webkit-linear-gradient(
            // background: linear-gradient(to top, #07090f, rgba(7, 9, 15, .6), #07090f)
            background: linear-gradient(to top, $darkblue, rgba(7, 9, 15, 0.6), $darkblue)
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h3 {
        font-size: 1.6rem;
    }
    p {
        color: #ececec;
    }
}